<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229394261385-777japk7ldhr9d6jt0rqn6h753vl16r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229394261385-777japk7ldhr9d6jt0rqn6h753vl16r8</string>
	<key>API_KEY</key>
	<string>AIzaSyB4uQMaQxNQ8Nm1M-gEzhLpyStcIkXrt7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>229394261385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.superoversea</string>
	<key>PROJECT_ID</key>
	<string>supervpn-d4505</string>
	<key>STORAGE_BUCKET</key>
	<string>supervpn-d4505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229394261385:ios:986043f19e1236b85f2d58</string>
</dict>
</plist>